@import '~bootstrap/scss/bootstrap';
.card{
    max-width: 300px;
    border: solid 2px $orange-auto-ccas;
    border-radius: 10px;
}
img{
    border-radius: 7px 7px 0 0;    
}
.price{
    font-size: 1.5em;

}
.btn{
    background-color: $orange-auto-ccas;
    border-radius: 0 0 7px 7px;
}
.pictogram-bar{
    text-align: center;
    img{
        width: 40px;
        height: 40px;
        color: $orange-auto-ccas;
    }
    p{
        color: $orange-auto-ccas;
    }
}