<div class="card" *ngFor="let annonce of annonces">
    <img src="../../../assets/caroussel/slider-1.jpg" class="img-fluid" alt="image">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h5 class="card-title">Marque - modèle: {{annonce.id_model}}</h5>
            <h5 class="price">Prix</h5>
        </div>
        <h6>Motorisation - finition</h6>
        <p class="card-text">{{annonce.description}} </p>
    </div>
    <div class="pictogram-bar d-flex justify-content-between container">
        <div>
            <img src="../../../assets/img/calendar-page.svg" class="img-fluid" alt="">
            <p>{{annonce.creation_date_annonce | date : 'dd/MM/yyyy' }}</p>
        </div>
        <div>
            <img src="../../../assets/img/meandering-road-with-trees-at-sides.svg" class="img-fluid" alt="">
            <p>{{annonce.year_of_circulation | date : 'MM/yyyy' }}</p>
        </div>
        <div>
            <img src="../../../assets/img/gasoline-pump.svg" class="img-fluid" alt="">
            <p>{{annonce.kilometer}}</p>
        </div>
        <div>
            <img src="../../../assets/img/localisation.svg" class="img-fluid" alt="">
            <p>2010</p>
        </div>
    </div>
    <a href="#" class="btn text-white">En savoir +</a>
</div>