<div class="card">
    <img src="{{annonce.pictures[0].pathPicture}}" class="img-fluid" alt="{{annonce.pictures[0].altDescription}}">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h5 class="card-title">Marque {{annonce.model.brand.brand}} - modèle: {{annonce.model.name}}</h5>
            <h5 class="price text-right">Prix : {{annonce.price | currency:"EUR":"symbol"}} </h5>
        </div>
        <h6>Motorisation - finition</h6>
        <p class="card-text">{{annonce.description}} </p>
    </div>
    <div class="pictogram-bar d-flex justify-content-between container">
        <div>
            <img src="assets/img/calendar-page.svg" class="img-fluid" 
                alt="Date mise en ligne de l'annonce"
                title="Date mise en ligne de l'annonce">
            <p>{{annonce.creationDate | date : 'dd/MM/yyyy' }}</p>
        </div>
        <div>
            <img src="assets/img/meandering-road-with-trees-at-sides.svg" 
                class="img-fluid" alt="Année de mise en circulation"
                title="Année de mise en circulation">
            <p>{{annonce.year }}</p>
        </div>
        <div>
            <img src="assets/img/gasoline-pump.svg" class="img-fluid" 
                alt="Kilométrage du véhicule"
                title="Kilométrage du véhicule">
            <p>{{annonce.kilometers}}</p>
        </div>
<!--        <div>
            <img src="assets/img/localisation.svg" class="img-fluid" 
                alt="Localisation du véhicule" >
            <p>{{annonce.year_of_circulation| date : 'MM/yyyy'}}</p>
        </div> 
-->
    </div>
    <a href="#" class="btn text-white">En savoir +</a>
</div>