<div class="card">
    <div class="compare-checkbox">
        <label for="carSelected">Comparer</label>
        <input type="checkbox" name="carSelected" 
            [(ngModel)]="checked">
    </div>
    <img src="{{annonce.pictures[0].pathPicture}}" class="img-fluid" alt="{{annonce.pictures[0].altDescription}}">
    <div class="card-body">
        <div class="d-flex justify-content-between">
            <h5 class="card-title">Marque {{annonce.model.brand.brand}} - modèle: {{annonce.model.name}}</h5>
            <h5 class="price text-right">Prix : {{annonce.price | number:'3.0-0' }} </h5>
        </div>
        <h6>Motorisation - finition</h6>
        <p class="card-text">{{annonce.description}} </p>
    </div>
    <div class="row pictogram-bar d-flex justify-content-between container">
        <div class="col-md-4">
            <img src="assets/img/calendar-page.svg" class="image-icone-card" 
                alt="Année de mise en circulation"
                title="Année de mise en circulation">
            <p *ngIf="annonce.creationDate">{{annonce.year | date : 'yyyy' }}</p>
        </div>
        <div class="col-md-4">
            <img src="assets/img/meandering-road-with-trees-at-sides.svg" 
                class="image-icone-card" alt="Année de mise en circulation"
                title="Année de mise en circulation">
            <p>{{annonce.kilometers }}</p>
        </div>
        <div class="col-md-4">
            <img src="assets/img/gasoline-pump.svg" class="image-icone-card" 
                alt="Type de carburant"
                title="Type de carburant">
            <p>{{ annonce.fuel.name | titlecase  }}</p>
        </div>
    </div>
    <button class="btn text-white" (click)="storeCarDetails(annonce)">En savoir +</button>
</div>