<section class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-4">        
                <h3 class="text-white">Contactez-nous :</h3>                
                <div class="text-grow-size">
                    <a class="blue-text text-grow-size" [routerLink]="[ '/path' ]">04 73 12 36 54 78</a>
                </div>
                <div class="text-grow-size">
                    <a [routerLink]="[ '/path' ]">contact@auto-ccas.com</a>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <a [routerLink]="[ '/path' ]"><h3>Qui sommes-nous ?</h3></a>
                </div>
                <div>
                    <a [routerLink]="[ '/path' ]">Nos engagements</a>
                </div>                
                <p>Retrouvez-nous</p>
                <div class="d-flex justify-content-between">
                    <fa-icon [icon]="faInstagram" class="icon-social-network"></fa-icon>                    
                    <fa-icon [icon]="faFacebookF" class="icon-social-network"></fa-icon>                    
                    <fa-icon [icon]="faLinkedinIn" class="icon-social-network"></fa-icon>                    
                    <fa-icon [icon]="faPinterestP" class="icon-social-network"></fa-icon>                                        
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <h3 class="text-white">Vous êtes un pro ?</h3>
                    <p>Vous êtes un revendeur et vous souhaitez ventre vos voitures sur notre 
                    plateforme ?</p>
                    <p>N'hésitez plus et contactez-nous !</p>
                    <a class="nav-link btn btn-primary" href="#">Accès Client Pro
                    </a>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 vertical-lign">
                <a [routerLink]="[ '/cgv' ]">Conditions générales de ventes</a>
            </div>
            <div class="col-md-4 vertical-lign">
                <a [routerLink]="[ '/cookies' ]">Utilisation des cookies</a>
            </div>
            <div class="col-md-4">
                <a [routerLink]="[ '/mapWebSite' ]">Plan du site</a>
            </div>                
        </div>
    </div>
</section>