<section class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-md-4">        
                <p>Contactez-nous :</p>                
                <div class="text-grow-size">
                    <a class="blue-text text-grow-size" [routerLink]="[ '/path' ]">04 73 12 36 54 78</a>
                </div>
                <div class="text-grow-size">
                    <a [routerLink]="[ '/path' ]">contact@auto-ccas.com</a>
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <a [routerLink]="[ '/path' ]">Qui sommes-nous ?</a>
                </div>
                <div>
                    <a [routerLink]="[ '/path' ]">Nos engagements</a>
                </div>                
                <p>Retrouvez-nous</p>
                <div class="d-flex justify-content-between">
                    <fa-icon [icon]="faInstagram" class="icon-social-network"></fa-icon>                    
                    <fa-icon [icon]="faFacebookF" class="icon-social-network"></fa-icon>                    
                    <fa-icon [icon]="faLinkedinIn" class="icon-social-network"></fa-icon>                    
                    <fa-icon [icon]="faPinterestP" class="icon-social-network"></fa-icon>                                        
                </div>
            </div>
            <div class="col-md-4">
                <div>
                    <a [routerLink]="[ '/path' ]">Conditions générales de ventes</a>
                </div>
                <div>
                    <a [routerLink]="[ '/path' ]">Utilisation des cookies</a>
                </div>
                <div>
                    <a [routerLink]="[ '/path' ]">Plan du site</a>
                </div>                
            </div>
        </div>
    </div>
</section>