@import '~bootstrap/scss/bootstrap';
.btn-primary {
    background-color: $orange-auto-ccas;
    border-color: $orange-auto-ccas;
    transition: all 0.5s;
    &:hover{
        background-color: $orange-auto-ccas;
        border-color: $orange-auto-ccas;
        opacity: 0.8;
        scale: 1.1;
    }    
}
section{
    background-color: #424242;
    text-align: center;
}
a , p{
    color: #fff;    
}
.row:not(:last-child) {
    padding: 20px 0;
}
.row:last-child {
    padding-bottom: 20px;
}
.blue-text{
    color: #2D9CDB;
}
.text-grow-size{
    font-size: 1.3em;
}
.icon-social-network{    
    font-size: 40px;
    color: #fff;
}
.vertical-lign{       
    border-right : solid 1px #fff;
}

@media screen and (max-width: 768px){
    section {
        font-size: 14px;;
    }

    .icon-social-network{
        font-size: 30px;
    }
    .col-md-4{
        padding: 20px 0;
    }
    .justify-content-between{
        max-width: 300px;
        margin: auto;
    }
    .vertical-lign{ 
        border: 0;
    }
}
