<section>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" routerLink='/'>
                <img src="../../../assets/img/logo.png" alt="logo" class="img-fluid logo" loading="lazy">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                (click)="toggleNavbar()">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent"
                [ngClass]="{'show': navbarOpen}">
                <ul class="navbar-nav w-100 justify-content-between">
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/' routerLinkActive="">Nos voitures d'occasion</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/guide_achat' routerLinkActive="">Guide d'achat</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/' routerLinkActive="">Accès Pro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink='/contact' routerLinkActive="">Contactez-nous</a>
                    </li>

                    <ng-container *ngIf="connected; else notConnected">
                        <li class="nav-item">
                            <a class="nav-link btn btn-primary " routerLink='/'>Mon Profil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-primary deconnexion" routerLink='/'>Déconnexion</a>
                        </li>
                    </ng-container>
                    <ng-template #notConnected>
                        <li class="nav-item">
                            <a class="nav-link btn btn-primary connexion" routerLink='/'>Connexion</a>
                        </li>
                    </ng-template>  
                                      
                </ul>
            </div>
        </nav>
    </div>
</section>
