<div class="container-fluid">
    <div class="container">
        <h2>Découvrez nos engagements</h2>
        <div class="row">
            <div class="col-md">
                <img class="img-fluid" src="../../../assets/img/france.svg" alt="Carte France">
                <p>Une présence nationale avec un choix plus de 200 modèles</p>
            </div>
            <div class="col-md">
                <img class="img-fluid" src="../../../assets/img/engineering.svg" alt="Véhicule révisé et garantie">
                <p>Véhicules révisées et garanties</p>
            </div>
            <div class="col-md">
                <img class="img-fluid" src="../../../assets/img/call-center-agent.svg" alt="Service clientèle">
                <p>Une équipe à votre écoute</p>
            </div>
            <div class="col-md">
                <img class="img-fluid" src="../../../assets/img/tow-truck.svg" alt="Reprise ancien véhicule">
                <p>Reprise de votre ancien véhicule</p>
            </div>
            <div class="col-md">
                <img class="img-fluid" src="../../../assets/img/chronometer.svg" alt="1 voiture vendue toute les 5 minutes">
                <p>1 voitures vendue toutes les 5 min</p>
            </div>
        </div>
    </div>
</div>