<div>
  <h2>
    Actuellement
    <span> {{ totalAnnonces }} </span>
    voitures correspondent à vos critères
  </h2>
  <form [formGroup]="searchbarForm">
    <div class="row">
      <div class="col-md-4">
        <mat-form-field appearance="fill">
          <mat-label>Choisir la marque :</mat-label>
          <mat-select [(value)]="selectedBrand">
            <!--
              <mat-option>Choisir la marque</mat-option>
            -->
            <mat-option 
              *ngFor="let option of brandsArray?.data"
              [value]="option.brand" 
              (click)="onSelectBrand(option.id)"
              >{{ option.brand | titlecase }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <mat-form-field appearance="fill">
          <mat-label>Choisir le modèle :</mat-label>
          <mat-select [(value)]="selectedModel" [disabled]="!isBrandSelected">
            <mat-option 
              *ngFor="let model of modelsArray"
              [value]="model.name" 
              (click)="onSelectModel(model)"
              >{{ model.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>       
      </div>
      <div class="col-md-4">
        <label for="fuel">Choisir le carburant :</label>
        <select name="fuel">
          <option value="">Choisir le carburant</option>
        </select>
      </div>
      
      <div class="col-md-4">
        <div ngbDropdown class="">
          <button class="btn" id="dropdownBasic5" ngbDropdownToggle>
            Localisation
          </button>
          <div ngbDropdownMenu>
            <button ngbDropdownItem>Action - 1</button>
            <button ngbDropdownItem>Another Action</button>
            <button ngbDropdownItem>Something else is here</button>
          </div>
        </div>
      </div>
      
      <div class="col-md-4">
        <div ngbDropdown class="">
          <label for="price">Prix</label>
          <ngx-slider name="price" 
            formControlName="price"  
            [options]="optionsPrice">
          </ngx-slider>
        </div>
      </div>
      <div class="col-md-4">
        <label for="kilometers">Kilomètres</label>
        <ngx-slider name="kilometers" 
          formControlName="kilometers"
          [options]="optionsKm">
        </ngx-slider>
      </div>
      <div class="col-md-4">
        <label for="kilometers">Année mise en circulation</label>
        <ngx-slider name="year" 
          formControlName="year"
          [options]="optionsYear">
        </ngx-slider>
      </div>
      <!-- 
      <div class="col-md">
        pour la date voir : https://material.angular.io/components/datepicker/overview
      </div>
      
      <div class="col-md">
        pour voir une refonte du menu avec dialog 
        https://material.angular.io/components/dialog/examples
        et expansion Panel 
        https://material.angular.io/components/expansion/overview 
      </div>

      -->
    </div>
    <div class="row">
      <div class="col-md">
        soumettre
      </div>
      <div class="col-md">
        réinitialiser
      </div>
    </div>
  </form>
</div>
