<div>
  <h2>
    Actuellement
    <span> {{ totalAnnonces }} </span>
    voitures correspondent à vos critères
  </h2>
  <form action="" method="get">
    <div class="row">
      <div class="col-md">
        <label for="brand">Choisir la marque</label>
        <select name="brand">
          <option value="">Choisir la marque</option>
          <option *ngFor="let brand of brandsArray"
            value="{{ brand?.brand }}"> 
            {{ brand?.brand | titlecase  }}
          </option>
        </select>      
      </div>
      <div class="col-md">
        <label for="model">Choisir le modèle</label>
        <select name="model" disabled>
          <option value="">Choisir le modèle</option>
        </select>
      </div>
      <div class="col-md">
        <label for="fuel">Choisir le carburant</label>
        <select name="fuel">
          <option value="">Choisir le carburant</option>
        </select>
      </div>
      <div class="col-md">
        <label for="kilometer">Kilomètrage</label>
        <input type="range" name="kilometer" id="">
      </div>
      <div class="col-md">
        <div ngbDropdown class="">
          <button class="btn" id="dropdownBasic5" ngbDropdownToggle>
            Localisation
          </button>
          <div ngbDropdownMenu>
            <button ngbDropdownItem>Action - 1</button>
            <button ngbDropdownItem>Another Action</button>
            <button ngbDropdownItem>Something else is here</button>
          </div>
        </div>
      </div>
      
      <div class="col-md">
        <div ngbDropdown class="">
          <button class="btn" id="dropdownBasic7" ngbDropdownToggle>Prix</button>
          <div ngbDropdownMenu>
            <button ngbDropdownItem>Action - 1</button>
            <button ngbDropdownItem>Another Action</button>
            <button ngbDropdownItem>Something else is here</button>
          </div>
        </div>
      </div>
      <div class="col-md">
        <ngx-slider [(value)]="minValueKm" [(highValue)]="maxValueKm" [options]="optionsKm"></ngx-slider>
        <ngx-slider [(value)]="minValuePrice" [(highValue)]="maxValuePrice" [options]="optionsPrice"></ngx-slider>
      </div>
    </div>
    <div class="row">
      <div class="col-md">
        soumettre
      </div>
      <div class="col-md">
        réinitialiser
      </div>
    </div>
  </form>
</div>
