@import '~bootstrap/scss/bootstrap';
*{        
    font-family: roboto;
}

h2{
    text-align: center;
    font-size: 2rem;
    padding:20px;
    font-family: roboto;
}
h3{
    font-size: 1.5rem;
}
p{
    padding: 10px;
}
.fa-coffee{
    color:#424242;
}