<div class="container-fluid">
    <div class="container">
        <mat-card>
            <mat-card-header class="p-5 text-center justify-content-center">
                <div mat-card-avatar class="example-header-image">
                    <img mat-card-image src="./assets/img/lock.svg" alt="logo d'un cadenas" class="img-fluid">
                </div>
                <mat-card-title> <h2>Dashboard Espace Professionnel</h2> </mat-card-title>
                <mat-card-subtitle> <h3>Bonjour {{proConnected}}</h3> </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="d-flex justify-content-center">
                <ul>
                    <li class="d-flex m-3">
                        <img src="./assets/img/user.svg" alt="icone bonhomme" class="img-fluid logo-li-dashboard-pro">
                        <h4>Gérer mon compte</h4>
                    </li>
                    <li class="d-flex m-3">
                        <img src="./assets/img/private-garage.svg" alt="icone garage" class="img-fluid logo-li-dashboard-pro">
                        <h4>Gérer mes garages</h4>
                    </li>
                    <li class="d-flex m-3">
                        <img src="./assets/img/megaphone.svg" alt="icone megaphone" class="img-fluid logo-li-dashboard-pro">
                        <h4>Gérer mes annonces</h4>
                    </li>
                    <li class="d-flex m-3">
                        <img src="./assets/img/email.svg" alt="icone email" class="img-fluid logo-li-dashboard-pro">
                        <h4>Gérer mes messages</h4>
                    </li>
                </ul>
            </mat-card-content>
            <mat-card-actions class="d-flex justify-content-center">
                Afficher les stats
            </mat-card-actions>
        </mat-card>
    </div>
</div>
