<section class="container">
    <h2>notre présence sur les réseaux sociaux</h2>
    <article>
        <h3>Sur Instagram</h3>
        <div class="row">
            <div class="col-md">                
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam deleniti accusantium non neque? Illum cum, laboriosam, consequatur sit velit voluptas impedit consequuntur a omnis error deserunt eum iusto, modi est.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae voluptas quo, fuga inventore alias similique possimus suscipit! Quaerat quisquam laborum soluta dolorem! Aperiam voluptatibus officiis quaerat deleniti unde voluptate exercitationem.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam deleniti accusantium non neque? Illum cum, laboriosam, consequatur sit velit voluptas impedit consequuntur a omnis error deserunt eum iusto, modi est.</p>
            </div>
            <img class="img-fluid col-md" src="../../../assets/img/social-networks-instagram.jpg" alt="image réseau social Instagram">
        </div>
    </article>
    <article>
        <h3>Sur Facebook</h3>
        <div class="row">            
            <img class="img-fluid col-md" src="../../../assets/img/social-networks-facebook.jpg" alt="image réseau social Facebook">
            <div class="col-md">                
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam deleniti accusantium non neque? Illum cum, laboriosam, consequatur sit velit voluptas impedit consequuntur a omnis error deserunt eum iusto, modi est.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae voluptas quo, fuga inventore alias similique possimus suscipit! Quaerat quisquam laborum soluta dolorem! Aperiam voluptatibus officiis quaerat deleniti unde voluptate exercitationem.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam deleniti accusantium non neque? Illum cum, laboriosam, consequatur sit velit voluptas impedit consequuntur a omnis error deserunt eum iusto, modi est.</p>
            </div>
        </div>
    </article>
    <article>
        <h3>Sur LinkedIn</h3>
        <div class="row">
            <div class="col-md">                
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam deleniti accusantium non neque? Illum cum, laboriosam, consequatur sit velit voluptas impedit consequuntur a omnis error deserunt eum iusto, modi est.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae voluptas quo, fuga inventore alias similique possimus suscipit! Quaerat quisquam laborum soluta dolorem! Aperiam voluptatibus officiis quaerat deleniti unde voluptate exercitationem.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam deleniti accusantium non neque? Illum cum, laboriosam, consequatur sit velit voluptas impedit consequuntur a omnis error deserunt eum iusto, modi est.</p>
            </div>
            <img class="img-fluid col-md" src="../../../assets/img/social-networks-linkedIn.jpg" alt="image réseau social LinkedIn">
        </div>
    </article>
    <article>
        <h3>Sur Pinterest</h3>
        <div class="row">            
            <img class="img-fluid col-md" src="../../../assets/img/social-networks-pinterest.jpg" alt="image réseau social Pinterest">
            <div class="col-md">                
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam deleniti accusantium non neque? Illum cum, laboriosam, consequatur sit velit voluptas impedit consequuntur a omnis error deserunt eum iusto, modi est.</p>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae voluptas quo, fuga inventore alias similique possimus suscipit! Quaerat quisquam laborum soluta dolorem! Aperiam voluptatibus officiis quaerat deleniti unde voluptate exercitationem.</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam deleniti accusantium non neque? Illum cum, laboriosam, consequatur sit velit voluptas impedit consequuntur a omnis error deserunt eum iusto, modi est.</p>
            </div>
        </div>
    </article>
</section>

