<div class="container-fluid background-linear-gradient">
    <div class="container pt-4 pb-4">
        <a routerLink="/">Retour aux résultats</a>
    </div>    
</div>

<div class="container">
    <ng-container 
    *ngIf="carDetails !== null; else elseTemplate">
    
        <div class="row">
            <div class="col-md-7">
                <img src="{{carDetails.pictures[0].pathPicture}}" class="img-fluid" alt="{{carDetails.pictures[0].altDescription}}">
                <div>
                    <app-modal-gallery></app-modal-gallery>
                </div>
            </div>
            <div class="col-md-5 text-center block-description">
                <h3 class="title-car-details-view pt-3">
                    {{ carDetails.model.brand.brand }} - {{ carDetails.model.name }} 
                </h3>
                <h4  class="title-car-details-view pb-3">
                    {{ carDetails.motor }} - {{ carDetails.finish }}             
                </h4>
                <div class="row">
                    <div class="col-md-4">
                        <img src="assets/img/calendar-page.svg" 
                            class="image-icone-card" 
                            alt="Année de mise en circulation"
                            title="Année de mise en circulation">
                        <p class="text-orange">{{ carDetails.year }}</p>
                    </div>
                    <div class="col-md-4">
                        <img src="assets/img/meandering-road-with-trees-at-sides.svg" 
                            class="image-icone-card" alt="Kilométrage"
                            title="Kilométrage">
                        <p class="text-orange">{{ carDetails.kilometers }}</p>
                    </div>
                    <div class="col-md-4">
                        <img src="assets/img/gasoline-pump.svg" 
                            class="image-icone-card" 
                            alt="Type de carburant"
                            title="Type de carburant">
                        <p class="text-orange">{{ carDetails.fuel.name | titlecase  }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p class="text-orange">
                            Catégorie Véhicule : <span class="text-dark">{{ carDetails.carType.carType | titlecase }}</span>
                        </p>                        
                    </div>
                    <div class="col-md-4">
                        <p class="text-orange">
                            Motorisation : <span class="text-dark">{{ carDetails.motor | titlecase }}</span>
                        </p>                        
                    </div>
                    <div class="col-md-4">
                        <p class="text-orange">
                            Boite de vitesses  : <span class="text-dark">{{ carDetails.gear.description | titlecase }}</span>
                        </p>                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p class="text-orange">
                            Couleur du véhicule : <span class="text-dark">{{ carDetails.color | titlecase }}</span>
                        </p>                        
                    </div>
                    <div class="col-md-4">
                        <p class="text-orange">
                           Niveau de finition : <span class="text-dark">{{ carDetails.finish | titlecase }}</span>
                        </p>                        
                    </div>
                    <div class="col-md-4">
                        <p class="text-orange">
                            Annonce mise en ligne : <span class="text-dark">{{ carDetails.creationDate | date : "dd/mm/yyyy"}}</span>
                        </p>                        
                    </div>
                </div>
                <div>
                    <p>Description : </p>
                    <p>{{ carDetails.description }}</p>
                </div>
                <div>
                    <p> Référence de l'annonce : #{{ carDetails.id }} </p>
                </div>
                <div class="car-details-price">
                    {{ carDetails.price | number:'3.0-0'}} €                    
                </div>
            </div>
        </div>
            
    </ng-container>
    <ng-template #elseTemplate>
        <h3 class="text-danger text-center mt-2 pt-3 pb-3">
            Il manque les données détaillées de l'annonce à afficher <br>
            Merci de revenir aux résultats  </h3>    
    </ng-template>
</div>